*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  inline-size: 1140px;
  block-size: 534px;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  block-size: 298px;
  overflow-y: auto;
}

.content__list-item:not(:last-child) {
  padding-block-end: 30px;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  color: white;
}

.content__card-link_current {

}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.search-form {
  padding-block-start: 16px;
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  padding-block-end: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline 1px;
  text-underline-offset: 2px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__textfield {
  appearance: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  border-color: white;
  inline-size: 225px;
  color: white;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  border-color: white;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  block-size: 19px;
  inline-size: 19px;
  cursor: pointer;
  margin-inline-end: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: white;
}

.button {
  block-size: 34px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 6px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: 1px underline;
  text-underline-offset: 2px;
}


.search-form__submit-button {
  align-self: end;
  inline-size: 194px;
}

.more-button {
  inline-size: 399px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px
}

.result__video-container video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

.content__video-card {
  display: flex;
  align-items: start;
  inline-size: 400px;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}

.content__video-card-thumbnail img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.0;
  padding-block-end: 6px;
}

.content__video-card-description-container {
  inline-size: 200px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
}